<!-- views/partials/_navbar.ejs -->

<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
	<% if (user) { %>
		<a href="/lails">All Lails</a>
		<a href="/users/<%= user._id %>/lails">Your Lails</a>
		<a href="/auth/sign-out">Sign Out</a>
	<% } else {%>
		<a href="/auth/sign-in">Sign In</a>
		<a href="/auth/sign-out">Sign Out</a>
	<% } %>
</nav>