<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lails - Welcome</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>

  <div class="container">
    <!-- Header Section -->
    <header class="header">
      <% if (user) { %>
        <h1> Welcome aboard! Let's make some memories <%= user.username %>!</h1>
        <p>
          <a href="/auth/sign-out">Sign out</a>
        </p>
      <% } else { %>
        <h1>Lails</h1>
      <% } %>
    </header>

    <!-- Call to Action -->
    <% if (!user) { %>
      <div class="cta">
        <p>A social media hub tailored for Lails tech!</p>
        <a href="/auth/sign-up" class="btn btn-primary">Sign up</a> or
        <a href="/auth/sign-in" class="btn btn-secondary">Sign in</a>.
      </div>
    <% } %>

    <!-- VIP Lounge Link -->
    <div class="vip-link">
      <a href="/vip-lounge">Get into the VIP Users Only lounge!</a>
    </div>
  </div>

</body>
</html>
