<!-- updated all application to lail 1/28 -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Lails</title>
	<link rel="stylesheet" href="/stylesheets/new.css" />
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>
		<h1>Add a New Post</h1>
		<!-- views/lails/new.ejs -->

		<form action="/users/<%= user._id %>/lails" method="POST">
			<label for="image">Image:</label>
			<input type="text" name="image" id="image" />

			<label for="music">Add Text:</label>
			<input type="text" name="addText" id="music" />

			<button type="submit">Create Post</button>
		</form>

</body>

</html>